.App {
  text-align: center;
  background: #020024;background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.todo{
  box-shadow: 0px 7px 7px rgba(0,0,0,0.4);

}


*{
  font-family: ArefRuqaa !important;
}
/* Start ButtonS */
.iconButton {
  transition: all 0.5s !important;
  -webkit-transition: all 0.5s !important;
  -moz-transition: all 0.5s !important;
  -ms-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
 
}

.iconButton:hover {
  background-color: #053494 !important;
  box-shadow: 0px 7px 7px rgba(0,0,0,0.4);
  
}
/* End ButtonS */
/* Start Cars */
.TodoCard:hover{
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.TodoCard:hover{
  padding: 20px 0;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}
/* End Cars */

/*===== Custom Fonts ===== */

@font-face{
  font-family:ArefRuqaa;
  src:url("/public/Fonts/ArefRuqaa-Bold.ttf");
  font-weight: bold;
}
@font-face{
  font-family:ArefRuqaa;
  src:url("/public/Fonts/ArefRuqaa-Bold.ttf");
  font-weight: normal;
}
/*===== Custom Fonts ===== */